@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;700&family=Roboto+Mono&display=swap');

:root {
    --primary-background: #181818;
    --secondary-background: #0A0A0A;
    --table-gray: #929292;
    --primary-blue: #13A0B0;
    --card-yellow: #FCDA5E;
    --card-purple: #B399D3;
    --card-orange: #FFA553;
    --card-green: #54FF85;
}

body {
    background: var(--primary-background);
    margin: 0;
    font-family: 'Poppins';
}

.navbar {

    background: var(--primary-background);
    padding: 1.5em;

    .logo {
        text-decoration: none;
        font-family: 'Bebas Neue';
        color: white;
        font-size: 1.8em;
    }

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;
    }
}

a {
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 3em;
}

h1, h2, p {
    color: white;
}

section {
    padding: 7em 2em;
}

.hero {

    padding: 16em 2em 10em 2em;
    //padding: 30vh 2em 7em 2em;

    span {
        color: var(--primary-blue);
    }
}

.section-about {

    h2 {
        text-align: center;
        //font-size: 2em;
    }

    .left-col {
        border: 2px solid var(--table-gray);
        text-align: left;
        font-family: 'Roboto Mono';
        //font-size: 0.7em;
        line-height: 1.5em;
        padding: 3.5em;
    }

    .right-col {
        border: 2px solid var(--table-gray);
        text-align: left;
        font-family: 'Roboto Mono';
        //font-size: 0.7em;
        line-height: 1.5em;
        padding: 3.5em;
    }

    img {
        width: 20%;
        margin-bottom: 1em;
    }

    .slika {
        display: flex;
        justify-content: center;
    }
}

.section-work {

    h2 {
        //font-size: 2em;
        line-height: 0.3em;
    }

    p {
        font-family: 'Roboto Mono';
        //font-size: 0.7em;
    }

    a {
        text-align: center;
        text-decoration: none;
    }

    .some-work {
        padding-bottom: 1em;
    }

    .see-more {
        padding-top: 0.5em;
    }
    
}

.section-contact {

    padding: 4em 2em;
    background: var(--secondary-background);

    a {
        color: white;
        color: var(--primary-blue);
    }

    p {
        line-height: normal;
        font-family: 'Roboto Mono';
    }

    // span {
    //     line-height: normal;
    // }
}

form {
    margin-top: 3em;
}

label {
    display: block;
    color: white;
    font-weight: bold;
    //margin-top: 2.5em;
    margin-bottom: 0.5em;
}

input, textarea {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1em;
    border-radius: 0.3em;
    border: 1px;
    background: var(--primary-background);
    color: white;
    box-sizing: border-box;
}

.copyright {
    font-size: 0.7em;
    text-align: center;
    padding-top: 7em;
}

button[type="submit"] {
    background-color: var(--primary-blue);
    color: white;
    font-size: 1em;
    font-weight: bold;
    border-radius: 0.3em;
    border: 1px;
    //display: inline;
    //width: unset;
    padding: 0.8em 2em;
    cursor: pointer;
}

// ovo je za js od hamburger menija
nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    padding: 1.5em;

    ul.primary-nav {
        margin-top: 5em;
    }

    li {

        a {
            text-decoration: none;
            display: block;
            padding: .3em;
            font-size: 1.8em;
            text-align: right;
            font-family: 'Bebas Neue';

            &:hover {
                font-weight: bold;
                color: var(--primary-blue);
            }
        }
    }
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}

.cards {

    .card{
        padding: 0;
        border-radius: 0.8rem;
        text-align: center;

        .naslov {
            font-weight: bold;
        }

        .podnaslov {
            font-size: 1em;
            padding-bottom: 0.5em;
        }

        margin-bottom: 2.5em;

        &:hover {
            cursor: pointer;
            transform: scale(1.02);
            transition: all 0.2s ease;
        }

    }
    
    p {
        color: black;
        font-size: 2em;
        padding: 0;
        margin: 0;
        font-family: 'Poppins';
    }

    a {
        text-decoration: none;
    }

    span {
        font-weight: bold;
    }

    .git {
        font-size: 1.2em;
    }

    img {
        width: 18em;
        height: 18em;
        border-radius: 0.5em;
    }

    #card1 {
        background: var(--card-yellow);
    }

    #card2 {
        background: var(--card-green);
    }

    #card3 {
        background: var(--card-purple);
    }

    #card4 {
        background: var(--card-orange);
    }
}

@media only screen and (min-width: 768px) {

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
    }

    .navbar nav {

        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a {
            color: white;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.primary-nav {
            margin: 0;
        }
    }

    section {
        padding: 7em 7em;
    }

    .section-contact {
        padding: 4em 7em;
    }

    .hero {
        padding: 16em 7em 10em 7em;
    }
}

@media only screen and (min-width: 1080px) {

    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

    .section-work {
        width: 1080px;
        margin: 0 auto;
    }
    
    .section-about .container {

        display: flex;
        justify-content: space-between;
        width: 70%;
        align-items: stretch;

        .left-col {
            margin: 0em 0em 0 5em;
            width: 100%;
        }

        .right-col {
            margin: 0em 5em 0 0em;
            width: 100%;
        }
    }

    .section-work .container .cards {
        //display: flex;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
        
        
    }

    .card {
        margin-right: 2.5em;
    }  
}

@media only screen and (min-width: 1769px) {

    .section-about .container {
       width: 50%;
    }
}